<%= render 'shared/blogbar' %>

<div class="membershipshow__container">

  <h1 class="text-center membershipshow__heading">Become a member</h1>
  
    
      <div class="membershipshow__container--box">
            
            <div class="membershipshow__container--box-logo"> </div>    
            <h5 class="membershipshow__container--box-title"><%= @membership.name %> Plan</h5>
            <p class="membershipshow__container--box-p">APRA yearly subscription will give you access to our members area, containing exclusive newsletters, articles and much more.
            <br><span class="membershipshow__bold">This subscription will not be automatically renewed.</span> 
            You will need to authorize a new payment once it expires. <br>But don't worry, We will notify you when that is the case.</p>

            <p class ="membershipshow__container--box-price"><span class="membershipshow__bold"><%= @price %></span> per year</p>

            <%= form_tag orders_path do %>
            <%= hidden_field_tag 'membership_id', @membership.ids %>
            <%= submit_tag 'Proceed to checkout', class: 'btn-form' %>
        <% end %>
          
      </div>
</div>
      
    

        

