<%= render 'shared/blogbar' %>

<div class="wrapper__signup">

<div class="container__signup"> 

<h2 class="text-center container__signup--heading">Update your <%= resource_name.to_s.humanize %> profile</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs container__signup--form">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" } %>
   <%= f.input :name,
                required: true,
                input_html: { autocomplete: "Full Name" }, class: "" %>
   <%= f.input :student, as: :boolean, hint: 'Tick the box if you are currently enrolled as a student' %>
    <%= f.input :education,
                required: true,
                collection: User::EDUCATIONS, prompt: "What's your education?", class: "" %>
    <%= f.input :field_of_study,
                required: false,
                input_html: { autocomplete: "field_of_study" }, class: "" %>
    <%= f.input :academic_interests,
                required: false,
                input_html: { autocomplete: "academic_interests" }, class: "" %>
    <%= f.input :expectations,
                required: false,
                input_html: { autocomplete: "expectations" }, class: "" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update", class: "btn-form" %>
  </div>
<% end %>


