<%= render 'shared/blogbar' %>
<div class="profile__container">

<h1 class="text-center"> Hello <%= current_user.name %><h1>
    <div class="profile__ctas">
        <% if current_user.premium_until >= Date.today %>
            
        <h2 class="text-center"> You are an APRA member until <%= current_user.premium_until.to_d unless current_user.premium_until.nil? %>

        <p class="text-center">We won't renew it automatically, so if You like, please extend it at the link below</p>
        
        <%= link_to "Extend membership", "/getmembership", class: "btn-form" %>

        <% elsif current_user.admin %>

        <%= link_to "Create Post", new_article_path, class: "btn-form" %>

        <% else %>

        <h3 class="text-center">Become an APRA member and join our exclusive newsletter and events <h3>

        <%= link_to "Subscribe", "/getmembership", class: "btn-form" %>

        <% end %>
        
        <%= link_to "Edit your profile", edit_registration_path(current_user), class: "btn-form" %>
       

    </div>
</div>
