<div class="navbar">
            <input type="checkbox" class="navbar__checkbox" id="navbar-toggle">
            <label for="navbar-toggle" class="navbar__btn">
                <span class="navbar__icon">&nbsp;</span>
            </label>
            <div class="navbar__social">
            
                <a href="https://www.facebook.com/Research.APRA/" target="_blank">
                   <%= fa_icon "facebook-f", class: "navbar__social--icon fa-2x" %>
                </a>
                <a href="https://www.instagram.com/apra.research/" target="_blank">
                    <%= fa_icon "instagram", class: "navbar__social--icon fa-2x" %>
                </a>
                <a href="https://www.linkedin.com/company/apraresearch/" target="_blank">
                    <%= fa_icon "linkedin", class: "navbar__social--icon fa-2x" %>
                </a>
                <a href="https://twitter.com/APRA_bot" target="_blank">
                    <%= fa_icon "twitter", class: "navbar__social--icon fa-2x" %>
                </a>
                <a href="https://www.youtube.com/channel/UC5-daxYnnwjRaf00JkvkDGA" target="_blank">
                    <%= fa_icon "youtube", class: "navbar__social--icon fa-2x" %>
                </a>
                <a href="mailto:Research.APRA@gmail.com">
                    <%= fa_icon "envelope", class: "navbar__social--icon fa-2x fal" %>
                </a>
            </div>
            <div class="navbar__background">&nbsp;</div>
            <nav class="navbar__nav">
                <ul class="navbar__list">
                <% if user_signed_in? %>
                     <li class="navbar__item">
                        <%= link_to "Members area", "/membersarea", class: "navbar__link" %>
                    </li>
                    <li class="navbar__item">
                       <%= link_to "Blog", '/blog', class: "navbar__link" %>
                      </li>
                    <li class="navbar__item">
                          <%= link_to "About", '/about', class: "navbar__link" %>
                    </li>
                    <li class="navbar__item">
                        <%= link_to "Core principles", "/coreprinciples", class: "navbar__link" %>
                    </li>
                    <li class="navbar__item">
                        <%= link_to "Our organization", "/organization", class: "navbar__link" %>
                    </li>
                    <div class="navbar__ctas">
                    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "navbar__logout" %>
                    <%= link_to "Edit profile", edit_registration_path(current_user), class: "navbar__logout" %>
                    <%= link_to "Membership", "/becomeamember", class: "navbar__logout" %>
                    </div>
                    <% else %>
                      <li class="navbar__item">
                          <%= link_to "Blog", '/blog', class: "navbar__link" %>
                      </li>
                      <li class="navbar__item">
                          <%= link_to "About", '/about', class: "navbar__link" %>
                      </li>
                       <li class="navbar__item">
                          <%= link_to "Core principles", "/coreprinciples", class: "navbar__link" %>
                      </li>
                      <li class="navbar__item">
                          <%= link_to "Our organization", "/organization", class: "navbar__link" %>
                      </li>
                      <%= link_to "Sign up", new_user_registration_path, class: "navbar__logout" %>
                      <%= link_to "Log In", new_user_session_path, class: "navbar__logout" %>
                    <% end %>
                </ul>
            </nav>
 </div>

