<nav class="navbar navbar-expand-xl provabar">
 
 <%= link_to "/", class: "navbar-brand" do %>
        <%= image_tag "whitelogo1.svg", class: "blogbar__brand--img" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#toggler" aria-controls="#toggler" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fal fa-bars nicon fa-2x"></i>
  </button>

  <div class="collapse navbar-collapse" id="toggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 text-center lol">
     <% if user_signed_in? %>
                      <li class="nav-item">
                        <%= link_to "My Profile", "/myprofile", class: "nav-link" %>
                    </li>
                     <li class="nav-item">
                        <%= link_to "Members area", "/membersarea", class:"nav-link" %>
                    </li>
                    <li class="nav-item">
                       <%= link_to "Blog", '/blog', class:"nav-link" %>
                      </li>
                    <li class="nav-item">
                          <%= link_to "About", '/about', class:"nav-link" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Manifesto", "/manifesto", class:"nav-link" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Contact Us", "/contactus", class:"nav-link" %>
                    </li>
                    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "navbar__logout" %>
                    
                    <% else %>
                      
                     
                      <li class="nav-item">
                          <%= link_to "Blog", '/blog', class:"nav-link" %>
                      </li>
                      <li class="nav-item">
                          <%= link_to "About", '/about', class:"nav-link" %>
                      </li>
                       <li class="nav-item">
                          <%= link_to "Manifesto", "/manifesto", class:"nav-link" %>
                      </li>
                      <li class="nav-item">
                          <%= link_to "Contact Us", "/contactus", class:"nav-link" %>
                      </li>
                      <%= link_to "Sign Up", new_user_registration_path, class: "navbar__logout" %>
                      <%= link_to "Log In", new_user_session_path, class: "navbar__logout" %>
                    <% end %>
    </ul>
           
  </div>
</nav>