
 <% set_meta_tags title: 'About',
                  description: '',
                 og: {
                     title: 'Core Principles',
                     description: 'a brief description of pillar principles underlying APRA activities',
                     image: asset_path('neuralnetwork.jpg'),
                } %>

<%= render 'shared/blogbar'%>
<div class="about">
<div class="about__container">
        <h1 class="about__container--heading">About</h1>

        <div class="about__container--header">
        <%= image_tag "pcblsd_withskull.jpg", class: "about__container--header-img" %>
        <p class="about__container--header-txt">Top figure from Carhart-Harris R.L. et al, “Neural correlates of the LSD experience revealed by multimodal neuroimaging.” Proc. Natl. Acad. Sci. USA, 113 (2016), pp. 4853–4858. </p>
        </div>


        


        <div class="about__container--body"> 
            <p class="about__container--body-p"> APRA is an interdisciplinary, academic association for researchers and university students based in Amsterdam, focusing on substances that show promise for therapy and scientific value, but that suffer an impaired research development because of their legal status or psychoactive effects. Most notably, this definition includes classical psychedelics (e.g. LSD, psilocybin), cannabis and MDMA.
                <ol class="about__container--body-list"> 
                    <li class="">The recognition of the research and therapeutic value of psychedelic substances, for which scientific evidence is now abundant
                        [<%= link_to "1", "https://journals.sagepub.com/toc/jopa/30/12", class: "about__link" %>, 
                        <%= link_to "2", "https://www.nature.com/articles/npp201784a", class: "about__link" %>, 
                        <%= link_to "3", "https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3909994/", class: "about__link" %>,  
                        <%= link_to "4", "https://pubmed.ncbi.nlm.nih.gov/28019026/", class: "about__link" %> …]
                    </li>
                    <li class="">
                    The persistence of anecdotal beliefs and stigma regarding psychedelics, particularly within academia
                    </li>
                    <li class="">
                    The current absence of dedicated research efforts within this field in Amsterdam-area institutions.
                    </li>
                </ol>
            </p>
            <p class="about__container--body-p"> 
                    Considering the recent advancements in cognitive sciences, natural sciences, and artificial intelligence, the lack of research in this promising and relatively unexplored field appeared as a lapse in long-term research planning, especially in a city that can boast cutting-edge biomedical and neuroimaging technologies. Therefore, the Amsterdam Psychedelic Research Association was formed to fill in this niche.
                    <br><br>
                        In practice, we aim to:
                        <ol class="about__container--body-list"> 
                            <li>
                            Provide information to students and researchers about developments in academic research on psychedelics through lectures, journal clubs, seminars
                            </li>
                            <li>
                            Diminish unscientific stigma within academia and help normalize the status of education and research in this field
                            </li>
                            <li>
                            Promote the start of a concerted, interdisciplinary research effort in this direction within the Amsterdam institutions
                            </li>
                        </ol>
            </p>

            <p class ="about__container--body-p"> 
                    APRA does not encourage illegal drug use outside controlled research and medical contexts, and promotes all available harm-reduction strategies.
                    <br><br><br>
                    University students, researchers or faculty based at Amsterdam institutions, that are interested in actively collaborating are particularly encouraged to become members and contact us at: <a class="email-link" href="mailto:research.APRA@gmail.com">research.apra@gmail.com</a>.
            </p>

            <p class ="about__container--body-p"> 
                    We encourage students and researchers from other cities and countries to start similar initiatives, and get in touch with us, to move together towards a collaborative network of psychedelic research associations. <br><br>
            </p>
        <div>

            <div class="about__container--body-ctas">
                <%= link_to "Become a member", "/getmembership", class: "btn btn-small btn-purple btn-text" %>
                <%= link_to "Core Principles", "/coreprinciples", class: "btn btn-small btn-purple btn-text" %>
            </div>
                <h2 class="about__container--contacts-header text-center">Follow us on social media</h2>
                <div class="about__container--contacts">
                    <a href="https://www.facebook.com/Research.APRA/" target="_blank">
                    <%= fa_icon "facebook-f", class: "about__container--contacts-icon fa-2x" %>
                    </a>
                    <a href="https://www.instagram.com/apra.research/" target="_blank">
                        <%= fa_icon "instagram", class: "about__container--contacts-icon fa-2x" %>
                    </a>
                    <a href="https://www.linkedin.com/company/apraresearch/" target="_blank">
                        <%= fa_icon "linkedin", class: "about__container--contacts-icon fa-2x" %>
                    </a>
                    <a href="https://twitter.com/APRA_bot" target="_blank">
                        <%= fa_icon "twitter", class: "about__container--contacts-icon fa-2x" %>
                    </a>
                    <a href="https://www.youtube.com/channel/UC5-daxYnnwjRaf00JkvkDGA" target="_blank">
                    <%= fa_icon "youtube", class: "about__container--contacts-icon fa-2x" %>
                    </a>
                    <a href="mailto:Research.APRA@gmail.com">
                        <%= fa_icon "envelope", class: "about__container--contacts-icon fa-2x fal" %>
                    </a>
                </div>
        </div>
        </div>

 </div>
 </div>
 

