 <% set_meta_tags title: 'Join us',
                  description: 'join us to enjoy exclusive APRA members content and more',
                 og: {
                     title: 'Join us',
                     description: 'join us to enjoy exclusive APRA members content and more',
                     image: asset_path('neuralnetwork.jpg'),
                } %>

<%= render 'shared/blogbar' %>
<div class="getmembership">
    <div class="getmembership__container">      

            <div class="getmembership__container--intro"> 
                <h1 class="getmembership__container--heading">Join our Community</h1>
                    <p class="getmembership__container--intro-p"> 
                    APRA is a registered nonprofit organisation run by volunteer university students and researchers. The membership fee is €20 per year (€10 for students). Fees and donations are fully reinvested in covering organisational costs, creating new events, and sponsoring academic research projects.
                    <br>
                    Membership is for everyone interested in learning more about academic research on psychedelics and altered states of consciousness, regardless of their educational background!
                    <br>
                    University students and researchers in the Amsterdam area who are interested in the academic aspects of psychedelics, and other understudied substances in science and medicine, are particularly encouraged to join.
                    </p>

                 <% if user_signed_in? %>   
                    <%= link_to "Become a member", membership_path(@membership), class: "getmembership__container--intro-cta btn btn-medium btn-purple" %>
                <% else %>
                    <%= link_to "Become a member", new_user_registration_path, class: "getmembership__container--intro-cta btn btn-medium btn-purple" %>
                <% end %>
            </div>

            <div class="getmembership__container--benefits"> 

            <h2 class="getmembership__container--benefits-heading mb-10"> Why Join APRA?</h2>

                <div class="getmembership__container--benefits-box1 mb-3"> 
                    <%= fa_icon "chart-network", class: "getmembership__container--benefits--icon fa-7x fal" %>
                    <h5 class="getmembership__container--benefits--heading">Networking</h5>
                    <p class="getmembership__container--benefits--txt">Be part of an interdisciplinary and diverse group of scientists, scholars and students in the Amsterdam area, sharing their expertise and interests for psychedelic research.
                    </p>
                </div>
                <div class="getmembership__container--benefits-box2 mb-3"> 
                    <%= fa_icon "newspaper", class: "getmembership__container--benefits--icon fa-7x fal" %>
                    <h5 class="getmembership__container--benefits--heading">Regular updates</h5>
                    <p class="getmembership__container--benefits--txt"> 
                    With the monthly APRA newsletter! Events, news, research opportunities, and other important communications (no spam, opt-out anytime with one click).
                    </p>
                </div>
                <div class="getmembership__container--benefits-box3 mb-3 "> 
                    <%= fa_icon "badge-dollar", class: "getmembership__container--benefits--icon2 fa-10x fal mb-10" %>
                    <h5 class="getmembership__container--benefits--heading mb-10">Convenience</h5>
                    <p class="getmembership__container--benefits--txt"> 
                    Free access to all monthly APRA Journal Clubs and free or discounted entrance to larger events like lectures and conferences!
                    </p>
                </div>
                <div class="getmembership__container--benefits-box4 mb-10"> 
                    <%= fa_icon "users-class", class: "getmembership__container--benefits--icon fa-7x fal" %>
                    <h5 class="getmembership__container--benefits--heading">Collaboration</h5>
                    <p class="getmembership__container--benefits--txt">
                    Do you want to actively help us shape the future of this field in Amsterdam? Join the APRA organizers! Get in touch for more information and collaboration opportunities. 
                    </p>
                </div>
                <!-- <div class="getmembership__container--benefits-box5"> 
                    <%= fa_icon "donate", class: "getmembership__container--benefits--icon fa-4x fal" %>
                    <h5 class="getmembership__container--benefits--heading">Transparency</h5>
                    <p class="getmembership__container--benefits-box5-txt">
                         Members receive a yearly update describing how resources were used. 
                    </p>
                </div>
                <div class="getmembership__container--benefits-box6"> 
                    <%= fa_icon "door-open", class: "getmembership__container--benefits--icon fa-4x fal" %>
                    <h5 class="getmembership__container--benefits--heading">Freedom</h5>
                    <p class="getmembership__container--benefits-box6--txt">
                    Membership is not automatically renewed. After one year, you will be asked explicitly whether you want to remain a member or not. You can discontinue your membership at any time with just one click. 
                    </p>
                </div>
                <div class="getmembership__container--benefits-box7"> 
                    <%= fa_icon "user-secret", class: "getmembership__container--benefits--icon fa-4x fal" %>
                    <h5 class="getmembership__container--benefits--heading">Privacy</h5>
                    <p class="getmembership__container--benefits-box7--txt"> 
                    Your data is considered private and will not be shared with anyone outside the association.
                    </p>
                </div>
                <div class="getmembership__container--benefits-box8"> 
                    <%= fa_icon "people-arrows", class: "getmembership__container--benefits--icon fa-4x fal" %>
                    <h5 class="getmembership__container--benefits--heading">Integrity</h5>
                    <p class="getmembership__container--benefits-box8--txt"> 
                    APRA reserves the right to discontinue membership, in case the understanding of the APRA <%= link_to "Core principles", "/manifesto", class: "getmembership__container--link" %> on the part of the member comes into question; particularly so for the academic research focus of the association.
                    </p>
                </div> -->
            
            </div>

          <div>

            <div class="about__container--body-ctas">
                <%= link_to "About us", "/about", class: "btn btn-small btn-purple btn-text" %>
                <%= link_to "Core Principles", "/coreprinciples", class: "btn btn-small btn-purple btn-text" %>
            </div>
                <h2 class="about__container--contacts-header text-center">Follow us on social media</h2>
                <div class="about__container--contacts">
                    <a href="https://www.facebook.com/Research.APRA/" target="_blank">
                    <%= fa_icon "facebook-f", class: "about__container--contacts-icon fa-2x" %>
                    </a>
                    <a href="https://www.instagram.com/apra.research/" target="_blank">
                        <%= fa_icon "instagram", class: "about__container--contacts-icon fa-2x" %>
                    </a>
                    <a href="https://www.linkedin.com/company/apraresearch/" target="_blank">
                        <%= fa_icon "linkedin", class: "about__container--contacts-icon fa-2x" %>
                    </a>
                    <a href="https://twitter.com/APRA_bot" target="_blank">
                        <%= fa_icon "twitter", class: "about__container--contacts-icon fa-2x" %>
                    </a>
                    <a href="https://www.youtube.com/channel/UC5-daxYnnwjRaf00JkvkDGA" target="_blank">
                    <%= fa_icon "youtube", class: "about__container--contacts-icon fa-2x" %>
                    </a>
                    <a href="mailto:Research.APRA@gmail.com">
                        <%= fa_icon "envelope", class: "about__container--contacts-icon fa-2x fal" %>
                    </a>
                </div>
        </div>

        </div>
    </div>