<%= render 'shared/blogbar' %>
<div class="workwithus__wrapper">
    <h1 class="workwithus__heading text-center">Organizational structure</h1> 
        <div class ="workwithus__department">
        <h2 class="workwithus__department--label text-center">Community Coordination</h2>
            <div class="workwithus__department--membersbox">
                <div class="workwithus__department--member"> 
                    <div class="workwithus__department--member-pic workwithus__department--member-pic-1"></div>
                    <h5 class="workwithus__department--member-name">Thor Kristjánsson<h5>
                    <p class="workwithus__department--member-role">Head of department</p>
                </div>
              
            </div>

            <div class="workwithus__department--function"> 
                <h3 class="workwithus__department--function--heading text-center">Responsibilities</h3>
                <p class="workwithus__department--function--description">
                    The aim of this department is to build and maintain a sustainable, engaged, critically informed, and self-actualising community of APRA staff and members. </p>
                <ul class="workwithus__department--function--list">
                    <li class="workwithus__department--function--list-item">
                        Developing strategies for the recruitment of new members and to improve services for our existing community (e.g. our benefits and offers for members)</li>
                    <li class="workwithus__department--function--list-item">
                        Managing internal communication between members, departments, and the board</li>
                    <li class="workwithus__department--function--list-item">Workplace counseling, conflict resolution, and coordination of internal internships
                    </li>
                </ul>
            </div>
        </div>
         <div class ="workwithus__department">
            <h2 class="workwithus__department--label text-center">Design & Media</h2>
            <div class="workwithus__department--membersbox">
                <div class="workwithus__department--member"> 
                    <img class="workwithus__department--member-pic workwithus__department--member-pic-2">
                    <h5 class="workwithus__department--member-name">Kenan de Leeuw<h5>
                    <p class="workwithus__department--member-role">Head of department</p>
                </div>
                
            </div>

            <div class="workwithus__department--function"> 
                <h3 class="workwithus__department--function--heading text-center">Responsibilities</h3>
                <p class="workwithus__department--function--description">
                    The aim of this department is to generate the aesthetic, but also (digital) functionality, that our audience will associate with APRA and is in charge of the creative process to realise APRA’s goals with creative freedom</p>
                <ul class="workwithus__department--function--list">
                    <li class="workwithus__department--function--list-item">
                        Designing promotional content and potential merchandise</li>
                    <li class="workwithus__department--function--list-item">
                        Managing our website and integrations with third party services</li>
                    <li class="workwithus__department--function--list-item">
                        Managing the recording and/or photography of events and the editing thereof to be shared with the community</li>
                </ul>
            </div>
        </div>
         <div class ="workwithus__department">
            <h2 class="workwithus__department--label text-center">Event Management</h2>
            <div class="workwithus__department--membersbox">
                <div class="workwithus__department--member"> 
                    <div class="workwithus__department--member-pic workwithus__department--member-pic-3"></div>
                    <h5 class="workwithus__department--member-name">Rian van der Kamp<h5>
                    <p class="workwithus__department--member-role">Head of department</p>
                </div>
            </div>

            <div class="workwithus__department--function"> 
                <h3 class="workwithus__department--function--heading text-center">Responsibilities</h3>
                <p class="workwithus__department--function--description text-center">The aim of this department is to organise and manage APRA’s events</p>
                <ul class="workwithus__department--function--list">
                    <li class="workwithus__department--function--list-item">
                        Organising academic events such as journal clubs and lectures (and when possible, symposia and conferences)</li>
                    <li class="workwithus__department--function--list-item">
                        Organising informal events such as social hangouts and movie nights</li>
                    <li class="workwithus__department--function--list-item">
                        Managing everything involved with such events from location scouting, evaluation of costs, to hosting and logistics</li>
                </ul>
            </div>
        </div>
         <div class ="workwithus__department">
            <h2 class="workwithus__department--label text-center">Public Relations</h2>
            <div class="workwithus__department--membersbox">
                <div class="workwithus__department--member"> 
                    <div class="workwithus__department--member-pic workwithus__department--member-pic-4"> </div>
                    <h5 class="workwithus__department--member-name">Annika Wirsching<h5>
                    <p class="workwithus__department--member-role">Co-Head of department</p>
                </div>
                <div class="workwithus__department--member"> 
                    <div class="workwithus__department--member-pic workwithus__department--member-pic-5"></div>
                    <h5 class="workwithus__department--member-name">Anouk Fieten<h5>
                    <p class="workwithus__department--member-role">Co-head of department</p>
                </div>
                
            </div>

            <div class="workwithus__department--function"> 
                <h3 class="workwithus__department--function--heading text-center">Responsibilities</h3>
                <p class="workwithus__department--function--description">The aim of this department is to build mutually beneficial relationships between APRA and all external parties (general public, other organisations), 
                    while maintaining a positive and active public image coherently with the goals and values of APRA</p>
                <ul class="workwithus__department--function--list">
                    <li class="workwithus__department--function--list-item">
                        Managing APRA’s social media platforms and incoming messages</li>
                    <li class="workwithus__department--function--list-item">
                        Coordinating social media content, both originally created (e.g. interviews with speakers and members, blog posts, podcasts) and re-shared (e.g. important news in the psychedelic research field and related media).</li>
                    <li class="workwithus__department--function--list-item">
                        Managing communication and collaboration with other organisations with similar focus, both in the Netherlands and internationally</li>
                </ul>
            </div>
        </div>
         <div class ="workwithus__department">
            <h2 class="workwithus__department--label text-center">Research & Development</h2>
            <div class="workwithus__department--membersbox">
                <div class="workwithus__department--member"> 
                    <div class="workwithus__department--member-pic workwithus__department--member-pic-6"></div>
                    <h5 class="workwithus__department--member-name">Paloma David<h5>
                    <p class="workwithus__department--member-role">Head of department</p>
                </div>
               
            </div>

            <div class="workwithus__department--function"> 
                <h3 class="workwithus__department--function--heading text-center">Responsibilities</h3>
                <p class="workwithus__department--function--description">
                    The aim of this department is to facilitate research within APRA’s focus by aiding the efforts of students, researchers and professors in a variety of ways.</p>
                <ul class="workwithus__department--function--list">
                    <li class="workwithus__department--function--list-item">
                        Facilitating the access to useful resources for psychedelic research projects (e.g. open-access data, publications, funding sources), and helping students and researchers in finding suitable supervisors, internships, study participants, collaborators</li>
                    <li class="workwithus__department--function--list-item">
                        Contacting university course coordinators and professors to explain the need and motives for the inclusion of psychedelic research in relevant curricula</li>
                    <li class="workwithus__department--function--list-item">
                        Assessing the feasibility and utility of small APRA-backed research projects (including research partnerships with external organisations), possibly with the creation of a dedicated call for proposals</li>
                </ul>
            </div>
        </div>

        <div class ="workwithus__department">
            <h2 class="workwithus__department--label text-center">Board of directors</h2>
            <div class="workwithus__department--membersbox">
                <div class="workwithus__department--member"> 
                    <div class="workwithus__department--member-pic workwithus__department--member-pic-7"></div>
                    <h5 class="workwithus__department--member-name">Marco Aqil<h5>
                    <p class="workwithus__department--member-role">Director</p>
                </div>
                <div class="workwithus__department--member"> 
                    <div class="workwithus__department--member-pic workwithus__department--member-pic-8"></div>
                    <h5 class="workwithus__department--member-name">Max Laansma<h5>
                    <p class="workwithus__department--member-role">Treasurer</p>
                </div>
                  <div class="workwithus__department--member"> 
                    <div class="workwithus__department--member-pic workwithus__department--member-pic-9"></div>
                    <h5 class="workwithus__department--member-name">Ivar Rambags<h5>
                    <p class="workwithus__department--member-role">Board referent</p>
                </div>
                  <div class="workwithus__department--member"> 
                    <div class="workwithus__department--member-pic workwithus__department--member-pic-10"></div>
                    <h5 class="workwithus__department--member-name">Josi Marschall<h5>
                    <p class="workwithus__department--member-role">Board referent</p>
                </div>
                  <div class="workwithus__department--member"> 
                    <div class="workwithus__department--member-pic workwithus__department--member-pic-11"></div>
                    <h5 class="workwithus__department--member-name">Lela Mosemghvdlishvili<h5>
                    <p class="workwithus__department--member-role">Board referent</p>
                </div>
            </div>

            <div class="workwithus__department--function"> 
                <h3 class="workwithus__department--function--heading text-center">Responsibilities</h3>
                <p class="workwithus__department--function--description">
                    The Board is composed of members that have been actively involved with APRA at the organizational level for one year or longer.</p>
                <ul class="workwithus__department--function--list">
                    <li class="workwithus__department--function--list-item">
                        Supporting, advising, and empowering the departments to reach their goals.</li>
                    <li class="workwithus__department--function--list-item">
                        Ensuring internal accountability at all levels, and ensuring that APRA activities are sustainable and consistent with the APRA mission.</li>
                    <li class="workwithus__department--function--list-item">
                        Promoting a fair, efficient, positive, and cooperative work environment.</li>
                </ul>
            </div>
        </div>

        <div class="about__container--body-ctas">
                <%= link_to "Become a member", "/getmembership", class: "btn btn-small btn-purple btn-text" %>
                <%= link_to "Core Principles", "/coreprinciples", class: "btn btn-small btn-purple btn-text" %>
            </div>
                <h2 class="about__container--contacts-header text-center">Follow us on social media</h2>
                <div class="about__container--contacts">
                    <a href="https://www.facebook.com/Research.APRA/" target="_blank">
                    <%= fa_icon "facebook-f", class: "about__container--contacts-icon fa-2x" %>
                    </a>
                    <a href="https://www.instagram.com/apra.research/" target="_blank">
                        <%= fa_icon "instagram", class: "about__container--contacts-icon fa-2x" %>
                    </a>
                    <a href="https://www.linkedin.com/company/apraresearch/" target="_blank">
                        <%= fa_icon "linkedin", class: "about__container--contacts-icon fa-2x" %>
                    </a>
                    <a href="https://twitter.com/APRA_bot" target="_blank">
                        <%= fa_icon "twitter", class: "about__container--contacts-icon fa-2x" %>
                    </a>
                    <a href="mailto:Research.APRA@gmail.com">
                        <%= fa_icon "envelope", class: "about__container--contacts-icon fa-2x fal" %>
                    </a>
                </div>
</div>