<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/1ce88d080b.js" crossorigin="anonymous"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <%= favicon_link_tag "favicon.ico" %>
    <%= display_meta_tags site: 'APRA Amsterdam Psychedelic Research Association' %>
    <%= display_meta_tags prefix: '|' %>
    <%= display_meta_tags reverse: '' %>
    <%= display_meta_tags og: {
        site_name: 'APRA Amsterdam Psychedelic Research Association',
        prefix: '|',
        reverse: 'true'} %>
    
  </head>

  <body>
    
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>
      <%= yield %>
    
  </body>
</html>
